/***** FOR DESKTOP *********/
@media screen and (min-width: 1400px) {
    a:link {
      color: #4A4A4A;
      text-decoration: none;
    }
    
    a:visited {
      color: #4A4A4A;
    }
    
    a:hover {
      width: 70px;
    }
    
    *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    
    .theGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 100px 700px 700px minmax(875px, 1fr) .09fr;
    }
    
    .menu-bar {
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: white;
        
        /* Grid Settings */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    
        .logo {
            padding: 10px;
            text-align: center;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        
        .logo #logo {
            object-fit: scale;
            width: 190px;
            height: 150px;
        }
        
        .hbutton1 {
            padding-top: 60px;
            text-align: right;
            grid-row: 1/2;
            grid-column: 2/3;
        }
        
        .hbutton1 #im1 {
            object-fit: scale;
            width: 50px;
            height: 50px;
        }
        
        .hbutton2 {
            padding-top: 60px;
            padding-right: 20px;
            text-align: right;
            grid-row: 1/2;
            grid-column: 3/4;
        }
        
        .hbutton2 #im2 {
            object-fit: scale;
            width: 50px;
            height: 50px;
        }
        
        .hbutton3 {
            padding-top: 60px;
            padding-right: 50px;
            text-align: right;
            grid-row: 1/2;
            grid-column: 4/5;
        }
        
        .hbutton3 #im3 {
            object-fit: scale;
            width: 50px;
            height: 50px;
        }
        
    .divide {
        z-index = -1;
        grid-row: 2/3;
        grid-column: 1/5;
    }
    
    .divide #c3 {
        position: static;
        width: 99vw;
    }
    
    .wrapper1 {
        grid-row: 3/4;
        grid-column: 1/3;
        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
    }
        .body1 {
            padding: 100px;
            font-size: 2.5vw;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        
        .photo-1 {
            padding-top: 150px;
            grid-row: 1/2;
            grid-column: 2/3;
        }
        
        .photo-1 #calendar {
            width: 100%;
            height: auto;
        }
    
    .body2 {
        padding-top: 100px;
        font-size: 3.5vw;
        text-align: center;
        grid-row: 4/5;
        grid-column: 1/3;
    }
    
    .ogci {
        padding-top: 5vw;
        text-align: center;
        grid-row: 4/5;
        grid-column: 1/3;
    }
    
    .ogci #c2 {
        width: 100%;
        height: auto;
    }
    
    .wrapper2 {
        grid-row: 5/6;
        grid-column: 1/3;
        /* Grid Settings */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    
        .body3 {
            padding: 100px;
            font-size: 3.5vw;
            grid-row: 1/2;
            grid-column: 2/3;
        }
        
        .photo-3 {
            padding: 50px;
            padding-top: 150px;
            grid-row: 1/2;
            grid-column: 1/2;
        }
    
        .photo-3 #c2 {
            width: 100%;
            height: auto;
        }
        
    .footer {
        text-align: right;
        padding: 50px;
        grid-row: 7/7;
        grid-column: 1/3;
    }
}



/* For moble */
@media screen and (min-width: 200px) and (max-width: 1399px) {
        a:link {
      color: #4A4A4A;
      text-decoration: none;
    }
    
    a:visited {
      color: #4A4A4A;
    }
    
    a:hover {
      width: 70px;
    }
    
    *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    
    .theGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 100px 100vw 500px minmax(875px, 1fr) 50px;
    }
    
    .menu-bar {
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: white;
        
        /* Grid Settings */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    
        .logo {
            padding: 10px;
            text-align: center;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        
        .logo #logo {
            object-fit: scale;
            width: 170px;
            height: 130px;
        }
        
        .hbutton1 {
            padding-top: 60px;
            text-align: right;
            grid-row: 1/2;
            grid-column: 2/3;
        }
        
        .hbutton1 #im1 {
            object-fit: scale;
            width: 50px;
            height: 50px;
        }
        
        .hbutton2 {
            padding-top: 60px;
            padding-right: 20px;
            text-align: right;
            grid-row: 1/2;
            grid-column: 3/4;
        }
        
        .hbutton2 #im2 {
            object-fit: scale;
            width: 50px;
            height: 50px;
        }
        
        .hbutton3 {
            padding-top: 60px;
            padding-right: 50px;
            text-align: right;
            grid-row: 1/2;
            grid-column: 4/5;
        }
        
        .hbutton3 #im3 {
            object-fit: scale;
            width: 50px;
            height: 50px;
        }
        
    .divide {
        z-index = -1;
        grid-row: 2/3;
        grid-column: 1/5;
    }
    
    .divide #c3 {
        position: static;
        width: 99vw;
    }
    
    .wrapper1 {
        grid-row: 3/4;
        grid-column: 1/3;
        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
        .body1 {
            text-align: center;
            padding: 50px;
            font-size: 4vw;
            grid-row: 1/2;
            grid-column: 1/2;
        }
        
        .photo-1 {
            padding-top: 20px;
            grid-row: 2/3;
            grid-column: 1/2;
        }
        
        .photo-1 #calendar {
            width: 100%;
            height: auto;
        }
    
    .body2 {
        padding-top: 100px;
        font-size: 4vw;
        text-align: center;
        grid-row: 4/5;
        grid-column: 1/3;
    }
    
    .ogci {
        padding-top: 20vh;
        text-align: center;
        grid-row: 4/5;
        grid-column: 1/3;
    }
    
    .ogci #c2 {
        width: 100%;
        height: auto;
    }
    
    .wrapper2 {
        grid-row: 5/6;
        grid-column: 1/3;
        /* Grid Settings */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
        .body3 {
            padding: 100px;
            font-size: 3.5vw;
            grid-row: 2/3;
            grid-column: 1/2;
        }
        
        .photo-3 {
            padding: 50px;
            padding-top: 150px;
            grid-row: 1/2;
            grid-column: 1/2;
        }
    
        .photo-3 #c2 {
            width: 100%;
            height: auto;
        }
        
    .footer {
        text-align: right;
        padding: 50px;
        grid-row: 7/7;
        grid-column: 1/3;
    }
    
    
    
    
    
}
































