a:link {
  color: #4A4A4A;
  text-decoration: none;
}

a:visited {
  color: #4A4A4A;
}

a:hover {
  font-size: 20px; 
  color: #4A4A4A;
}
 
    
    
    *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    
    .formGrid {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 200px 500px 1fr;
    }
    
    .menu-bar {
        grid-row: 1;
        grid-column: 1/5;
        background-color: white;
        /* Grid Settings */
        
        display: grid;
        grid-template-columns: 5fr 1fr 10px 1fr 10px 1fr 10px;
        grid-template-rows: 20px 1fr 120px;
    }
    
        .logo {
            padding-left: 25px;
            background-color: white;
            grid-row: 1/4;
            grid-column: 1/2;
        }
        
        .logo #logo {
            object-fit: scale;
            width: 190px;
            height: 150px;
        }
        
        .hbutton1 {
            background-color: #FDF9BA;
            z-index: 2;
            padding: 25px;
            text-align: center;
            grid-row: 2/3;
            grid-column: 2/3;
        }
        
        .hbutton2 {
            background-color: #FDF9BA;
            z-index: 2;
            padding: 25px;
            text-align: center;
            grid-row: 2/3;
            grid-column: 4/5;
        }
        
        .hbutton3 {
            background-color: #FDF9BA;
            z-index: 2;
            padding: 25px;
            text-align: center;
            grid-row: 2/3;
            grid-column: 6/7;
        }
    
    .theForm {
        border-radius: 10px;
        padding-top: 75px;
        font-family: Optima, sans-serif;
        color: #4A4A4A;
        background-color: #FDF9BA;
        font-size: 40px;
        text-align: center;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .theForm #registerLink {
        padding-top: 500px;
        font-family: Optima, sans-serif;
        color: #4A4A4A;
        font-size: 20px;
        text-align: center;
    }
    
    
    .theForm #uname {
        width: 50%;
        padding: 12px 20px;
        margin: 8px;
        box-sizing: border-box;
    }
    
    .theForm #pword {
        width: 50%;
        padding: 12px 20px;
        margin: 8px;
        box-sizing: border-box;
    }
    
    /* Stolen from https://fdossena.com/?p=html5cool/buttons/i.frag */
    .theForm #submit{
        font-size: 20px;
        display:inline-block;
        padding:0.7em 1.7em;
        margin:0 0.3em 0.3em 0;
        border-radius:0.2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFFFFF;
        background-color: #40A4E7;
        box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
        text-align:center;
        position:relative;
    }
    .theForm #submit:active{
        box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    }
    
    
    
    