<h1>Login</h1>

<% if (messages.error) { %>
<%= messages.error%>
<% } %>

<form action="/login" method="POST">
    <div>
        <lable for="email">email</lable>
        <input type="email" id="email" name="email"
        reqired>
    </div>

    <div>
        <lable for="password">password</lable>
        <input type="password" id="password" name="password"
        reqired>
    </div>
    <button type="submit">Login</button>
    <a href="/register">register</a>
</form>